/* Estilo geral */
body {
    background-image:linear-gradient( #748162, #b7cf95,);
 }
 {
    font-family: Arial, sans-serif;
    margin: 0;
  }
   header, main, footer {
    padding: 20px;
  }
   header {
  background-image:linear-gradient(#b7cf95, #748162);
  }
   h1, h2 {
    margin-top: 0;
  }
   nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
   nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
   nav ul li:first-child {
    margin-left: 0;
  }
   nav ul li a {
    color: #f3f0f0;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
   nav ul li a:hover {
    text-decoration: underline;
  }
   main {
    background-image:linear-gradient(#748162,#b7cf95);
  }
  {
    max-width: 1200px;
    margin: 0 auto;
  }
   section {
    margin-bottom: 50px;
  }
   footer {
    background-color: #333;
    color: #fff;
    text-align: center;
  }
   footer img {
    width: 60px;
  }
   /* Estilo responsivo */
  @media (max-width: 768px) {
    nav ul {
      display: block;
      margin: 20px 0 0;
      text-align: left;
    }
     nav ul li {
      display: block;
      margin: 0;
    }
     nav ul li a {
      font-size: 16px;
    }
  }
   @media (max-width: 480px) {
    h1 {
      font-size: 24px;
    }
     nav {
      margin-bottom: 20px;
    }
     nav ul li {
      margin-left: 10px;
 